.main-wrapper {
    width: 512px;
    margin: 0 auto;
    border:1px solid #000000;
    position: relative;
}

#background{
	position: absolute;
	z-index: 0;
}

#entities{
	position: absolute;
	z-index: 1;
}